<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title or site.title }}</title>
  <meta name="description" content="{{ description or site.description }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/site.css">
</head>
<body>
  <div class="wrap">
    <aside>
      <div class="brand">
        <!--<div class="dot" aria-hidden="true"></div>-->
        <div>
          <h1><a class="brand-link" href="/">{{ site.name }}</a></h1>
          <div class="contact-top">
            <a href="mailto:info@waterbearfieldschool.org">info@waterbearfieldschool.org</a>
          </div>
        </div>
      </div>

      <nav>
        <ul>
          <li><a class="{{ 'active' if page.url == '/' else '' }}" href="/">Home</a></li>
          <li><a class="{{ 'active' if page.url.startsWith('/events') else '' }}" href="/events/">Events</a></li>
          {% if collections.recentEvents.length > 0 %}<li><a class="{{ 'active' if page.url.startsWith('/projects') else '' }}" href="/projects/">Projects</a></li>{% endif %}
          <li><a class="{{ 'active' if page.url == '/about/' else '' }}" href="/about/">About</a></li>
        </ul>
      </nav>
    </aside>

    <main>
      {% block content %}{% endblock %}
    </main>
  </div>

  <script>
    document.getElementById('y').textContent = new Date().getFullYear();
  </script>
</body>
</html>
