{% extends "layouts/base.njk" %}
{% set title = site.title %}
{% block content %}
<section id="events">
  <h2 class="section-title"><a href="/events/">Events</a></h2>
  <p class="section-description"><!-- Add your events description here --></p>
  <div class="grid">
    {% for p in collections.allEvents %}
      {% if loop.index <= 6 %}
      <article class="card">
        <a href="{{ p.url }}" class="thumb" aria-label="{{ p.data.title }}">
          {% if p.data.image %}
            <img src="{{ p.data.image }}" alt="{{ p.data.title }}" />
          {% else %}
            4:3 image
          {% endif %}
          {% if p.date | isUpcoming %}<div class="corner-flag">UPCOMING</div>{% endif %}
        </a>
        <div class="card-content">
          <h3><a href="{{ p.url }}">{{ p.data.title }}</a></h3>
          <div class="meta">
            {% if p.date %}<time datetime="{{ p.date.toISOString() }}">{{ p.date.toDateString() }}</time>{% endif %}
            {% if p.data.location and p.date %} • {% endif %}{{ p.data.location or '' }}
          </div>
          {% if p.data.meta %}<div class="meta-description">{{ p.data.meta }}</div>{% endif %}
        </div>
      </article>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% if collections.recentEvents.length > 0 %}
<section id="recent-events">
  <h2 class="section-title"><a href="/projects/">Projects</a></h2>
  <p class="section-description"><!-- Add your projects description here --></p>
  <div class="grid">
    {% for p in collections.recentEvents %}
      {% if loop.index <= 3 %}
      <article class="card">
        <a href="{{ p.url }}" class="thumb" aria-label="{{ p.data.title }}">
          {% if p.data.image %}
            <img src="{{ p.data.image }}" alt="{{ p.data.title }}" />
          {% else %}
            4:3 image
          {% endif %}
        </a>
        <div class="card-content">
          <h3><a href="{{ p.url }}">{{ p.data.title }}</a></h3>
          <div class="meta">
            {{ p.data.meta or '' }}
          </div>
        </div>
      </article>
      {% endif %}
    {% endfor %}
  </div>
</section>
{% endif %}

{% endblock %}
