---
permalink: "/about/"
title: About — Don Blair
---
{% extends "layouts/base.njk" %}
{% block content %}
<section id="about">
  <h2 class="section-title">About</h2>
<p>Waterbear Field School is an informal network of folks interested in learning and teaching useful and fun projects in the outdoors.</p> 
</section>
{% endblock %}
